
body {
  position: relative;
  text-align: center;
}
.status-bar {
  font-weight: bold;
}

.status-box {
  height: calc(100vh * 1/16);
}

#word-table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-collapse: separate;
}

.my-col {
  font-size: 2.2rem;
  font-weight: bold;
  border-color: black;
  width: 75px;
  height: 75px;
  border-radius: 0.7rem;
}


@media (max-width: 768px) {
  .my-col {
    font-size: calc(100vw * 1/17);
    width: calc(100vw * 1/7);
    height: calc(100vw * 1/7);
    border-radius: 0.7rem;
  }
}

@media (max-width: 768px) {
  .my-col {
    font-size: calc(100vw * 1/17);
    width: calc(100vw * 1/7);
    height: calc(100vw * 1/7);
    border-radius: 0.7rem;
  }
}

/* Color changes */
.green {
  background-color: green !important;
}

.yellow {
  background-color: yellow !important;
}

.grey {
  background-color: grey !important;
}

.teal {
  background-color: #d7f8ff;
}

.navy {
  background-color: #062664;
}

/* Override bootstrap CSS */
.btn-check:focus + .btn-primary, .btn-primary:focus {
  background-color: #0d6efd !important;
}

.char {
  width: calc(100vw * (1/12));
  height: 68px;
}

.backspace, .enter {
  text-align: center;
  width: calc(100vw * (1/7));
  height: 68px;
}

@media (max-width: 391px) {
  .backspace, .enter {
    text-align: center;
    width: calc(100vw * (1/8));
    height: 68px;
  }
}

.char:focus, .backspace:focus, .enter:focus {
  outline: none;
  box-shadow: none;
}
